{% extends 'base.html' %}
{% block "content" %}
<h1>What's all this, then?</h1>
<p>
Searching for planets around other stars tends to produce a lot of data.
More than you can analyze on a laptop, anyway.
Furthermore, we want to tune our algorithms to have the best chance of finding a planet.
This means testing a lot of different parameters, and we're impatient.</p>
<h1>What can it do?</h1>
<p>Usage example</p>
<h1>How can I use it?</h1>
<p>Sign up explained in brief</p>
<h1>Who made this?</h1>
<p>Names, git link, acknowledgments</p>
{% endblock "content" %}
