{% extends 'home.html' %}
{% block "full_title" %}XWCL Distributed Analysis Platform{% endblock %}
{% block "hero" %}
<div class="mt-3 mb-3 pt-3 pb-3 columns">
  <div class="column">
    <h1 class="title has-text-white is-4">
      {% if user.get_full_name %}{{ user.get_full_name }} ({% endif %}
      <span class="is-family-monospace">{{ user.username }}</span>
      {% if user.get_full_name %}){% endif %}
    </h1>
  </div>
  <div class="column box has-text-white is-8" style="background-color: rgba(0,0,0,0.65);">
    <p>API token: <code style="background: transparent" class="has-text-white">export DAP_AUTH_TOKEN={{ user.auth_token }}</code><a href="" class="is-rounded is-warning is-small is-outlined button"><span class="icon is-small"><i class="fas fa-copy"></i></span></a></p>

  </div>
</div>
{% endblock "hero" %}
{% block "container" %}
    <div class="columns">
      <div class="column is-6">
        <div class="side-by-side mt-2">
          <div class="side"><h1 class="is-size-3 has-text-weight-bold has-text-warning">My Datasets</h1></div>
          <div class="side flex">
            <a class="button is-rounded is-primary" href="{% url "dataset-ingest" %}">Ingest new</a>
            <a class="button is-rounded is-primary" href="{% url "datum-list" %}">Design query</a>
          </div>
        </div>
      <hr>
      {% if pending_data %}
      <div class="has-text-centered mb-3"><a href="{% url "datum-processing" %}" class="button is-rounded is-outlined is-link">View {{ pending_data.count }} processing files</a></div>
      {% endif %}
      {% for object in datasets %}
        {% include 'registrar/dataset_snippet.html' %}
        {% empty %}
        <div class="no-data">
            <div>
            <h4>Getting started with the data registry</h4>
            <ol>
                <li>
                    Install the client (unless you'd rather use the API directly)
                    <pre>pip install exao_dap_client</pre>
                </li>
                <li>
                    Copy data into the CyVerse Data Store with <code>dap_irods_sync</code>
                    <pre>
dap_irods_sync \
    --user {{ user.username }} \
    --host data.cyverse.org \
    ./my/data/ \
    /iplant/home/{{ user.username }}/my/data/
                    </pre>
                </li>
                <li><a class="has-text-weight-bold" href="{% url "dataset-ingest" %}">Ingest</a> your data</li>
            </ol>
            <h4>Or, go directly to <a href="{% url "dataset-list" %}">querying</a> public and shared data</h4>

            </div>
        </div>
      {% endfor %}
      </div>
      <div class="column is-6">
        <div class="side-by-side my-2">
          <div class="side">
            <h1 class="has-text-success is-size-3 has-text-weight-bold">Undertakings</h1>
          </div>
          <div class="side flex">
            <a class="button is-rounded is-primary">Launch grid</a>
            <a class="button is-rounded is-primary">Launch job</a>
          </div>
        </div>
        <div class="tabs is-medium">
        <ul>
          <li class="is-active"><a>my grids</a></li>
          <li><a>my jobs</a></li>
        </ul>
      </div>
        {% for x in None %}
        {% empty %}
        <div class="no-data">
            <div>
                <h4>Getting started</h4>
                <ol>
                    <li>
                        Craft a <a href="{% url "dataset-list" %}">query</a> for data to analyze
                    </li>
                    <li>Wait for this part to be implemented
                    </li>
                </ol>

            </div>
        </div>
        {% endfor %}
      </div>
    </div>
{% endblock "container" %}
