from .global_settings import *

# Database
# https://docs.djangoproject.com/en/3.1/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': '/var/lib/exao_dap/db.sqlite3',
    }
}

SECRET_KEY = os.environ.get('DAP_SECRET_KEY')
STATIC_ROOT = os.environ.get('DAP_STATIC_ROOT', '/var/lib/exao_dap/static')
