{% load static %}
  <div class="container mb-2">
    <nav class="navbar" id="top-navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item has-text-primary" href="/">
          <img src="{% static 'exao_dap/xwcl_logo.png' %}">
          &nbsp;
          Distributed Analysis Platform
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-start">
        {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="{% url "registrar_overview" %}">
              Registry
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url "datum-list" %}">
                Query all
              </a>
              <a class="navbar-item" href="{% url "dataset-list" %}">
                Datasets
              </a>
              <a class="navbar-item" href="{% url "dataset-ingest" %}">
                Ingest data
              </a>
            </div>
          </div>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="">
              Undertakings
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Grids
              </a>
              <a class="navbar-item">
                Jobs
              </a>
            </div>
          </div>

          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item" href="{% url 'about' %}">
                About
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
          {% else %}
          <a class="navbar-item" href="{% url 'about' %}">
            About
          </a>
          <a class="navbar-item">
            Documentation
          </a>
          <a class="navbar-item">
            Contact
          </a>
          {% endif %}
        </div>

        <div class="navbar-end">
        {% if user.is_authenticated %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="">
            <span class="icon-text">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
              <span>{{ user.username }}</span>
            </span>
            </a>
            <div class="navbar-dropdown">
            {% if user.is_staff or user.is_superuser %}
              <a class="navbar-item" href="{% url "admin:index" %}">Admin</a>
              <hr class="navbar-divider">
            {% endif %}
              <a class="navbar-item" href="{% url "logout" %}">
                Log out
              </a>
            </div>
          </div>
          {% else %}
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-outlined" id="signup-button">
                <strong>Sign up</strong>
              </a>
              <a class="button is-cyverse-blue" id="login-button" href="{% url "social:begin" "cyverse-oauth2" %}">
                <strong>Log in</strong>&nbsp;with CyVerse
              </a>
            </div>
          </div>
        {% endif %}
        </div>
      </div>
    </nav>
  </div>
